body{
	margin: 0;
	padding: 0;
}
.app{
	display: flex;
	align-items: center;
	justify-content: center;
}
.card{
	max-width: 1080px;
	border-radius: 20px;
	border:1px solid #CCC;
	margin: 20px;
}
.header{
	padding: 0 10px;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
	display: flex;
	justify-content: space-between;
}
h4{
	font-size: 18px;
	padding-left: 40px;
}
.more{
	font-size: 14px;
	line-height: 73px;
	padding-right: 40px;
}
.main{
	padding: 8px 15px;
}
